{
    "presets": ["@babel/env", "@babel/typescript", "@babel/react"],
    "plugins": [
        ["styled-jsx/babel", { "optimizeForSpeed": true }],
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
